.root {
    -fx-background-color: #222;
    -fx-background-radius: 10;
}

.mainPane {
    -fx-background-color: #333;
    -fx-background-radius: 10;
}

.table-view, .tree-table-view {
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

#titlePane, #firstPane {
    -fx-font-weight: bold;
}

.column-header-background {
    -fx-background-radius: 10;
    -fx-background-color: whitesmoke;
}

.label {
-fx-text-fill: whitesmoke;
}

.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 30;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view {
    -fx-size: 30;
    -fx-border-style: null;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: #333;
    -fx-fill: whitesmoke;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: #444;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-font-size: 15px;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
}

.table-row-cell{

    -fx-text-fill: whitesmoke;
}

.table-column {

     -fx-text-fill: whitesmoke;
}